<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WServiceSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/WappTest/WService.asmx" binding="basicHttpBinding"
                bindingConfiguration="WServiceSoap" contract="ServiceReferenceCheckNumbers.WServiceSoap"
                name="WServiceSoap" />
        </client>
    </system.serviceModel>
</configuration>